openapi: 3.0.0
info:
  title: Book Store Registration API
  description: API для регистрации пользователя в сервисе Book Store
  version: 1.0.1
  contact:
    name: Registration API
    url: https://api.demoga.com/register
    email: registration@demoga.com
  termsOfService: https://demoga.com/terms
  license:
    name: license 1.0.1 Book Store
    url: https://demoga.com/license

servers:
  - url: https://api.demoga.com
    description: Production server

tags:
  - name: Registration

paths:
  /register:
    post:
      tags:
        - Registration
      summary: Регистрация нового пользователя
      description: >
        Создание нового аккаунта пользователя.
        При успешной регистрации фронтенд должен показать модальное окно
        с текстом из поля `message`.
      operationId: registerUser
      
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
              
      responses:
        '201':
          description: Пользователь успешно зарегистрирован 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterSuccessResponse'
              example:
                userId: "550e8400-e29b-41d4-a716-446655440000"
                username: "ivan"
                message: "User Register Successfully"

        '400':
          description: Некорректный формат запроса (отсутствуют обязательные поля)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errorCode: "BAD_REQUEST"
                message: "Required fields are missing."

        '409':
          description: Пользователь с таким username уже существует
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errorCode: "USER_ALREADY_EXISTS"
                message: "User exists!"

        '422':
          description: Ошибка бизнес-валидации (слабый пароль или не пройдена капча)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                weakPassword:
                  value:
                    errorCode: "WEAK_PASSWORD"
                    message: "Passwords must have at east one non alphanumeric character, one digit (0-9), one uppercase (A-Z), one lowercase (a-z), one special character and Password must be eight characters or longer.Passwords must have at east one non alphanumeric character, one digit (0-9), one uppercase (A-Z), one lowercase (a-z), one special character and Password must be eight characters or longer."
                captchaFailed:
                  value:
                    errorCode: "CAPTCHA_VALIDATION_FAILED"
                    message: "Please verify reCaptcha to register!"
                
        '500':
          description: Внутренняя ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errorCode: "INTERNAL_SERVER_ERROR"
                message: "Oops, something went wrong. Please try again later."

components:
  schemas:

    RegisterRequest:
      type: object
      required:
        - firstName
        - lastName
        - username
        - password
        - captchaToken
      properties:
        firstName:
          type: string
          minLength: 2
          maxLength: 50
          example: ivan

        lastName:
          type: string
          minLength: 2
          maxLength: 50
          example: ivanov

        username:
          type: string
          minLength: 4
          maxLength: 30
          pattern: "^[a-zA-Z0-9_]+$"
          example: ivan

        password:
          type: string
          minLength: 8
          maxLength: 100
          format: password
          example: StrongPass123!

        captchaToken:
          type: string
          description: Токен подтверждения reCAPTCHA
          example: 03AFcWeA...

    RegisterSuccessResponse:
      type: object
      required:
        - userId
        - username
        - message
      properties:
        userId:
          type: string
          format: uuid
          example: 550e8400-e29b-41d4-a716-446655440000

        username:
          type: string
          example: ivan

        message:
          type: string
          description: >
            Сообщение, которое фронтенд должен показать пользователю
            во всплывающем окне.
          example: User Register Successfully
          
    ErrorResponse:
      type: object
      required:
        - errorCode
        - message
      properties:
        errorCode:
          type: string
          description: Машиночитаемый код ошибки
          example: USER_ALREADY_EXISTS
        message:
          type: string
          description: Человекочитаемое описание ошибки
          example: User exists!

